@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
  }
}

:root {
  --white: #fff;
  --darkPink: #ff004f;
  --yellow: #ffd700; /* Defined color-yellow */
  --gray: #333;
  --dark-mode-text: #f3f4f6;
  --text-color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 3px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: var(--yellow);
}
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}
body.dark {
  background:#121212;
  color: var(--dark-mode-text);
}
body.dark .text-gray-700,
body.dark .text-gray-600 {
  color: var(--dark-mode-text);
}
body .card{
  background:#f2f2f2;
  box-shadow:0 0 5px rgba(0,0,0,0.25);
}
body.dark .card {
  background: #333333;
}

body.dark .text-white,
body.dark .text-gray-800 {
  color: #f3f4f6;
}
body.dark .text-neutral-600 {
  color: #f3f4f6;
}
body.dark .bg-slate-100 {
  background: #000;
}
body.dark .bg-white {
  background: #1f2937;
}
body.dark .bg-gray-50 {
  background: #1f2937;
}
body.dark .account-nav {
  background: #1f2937;
}
body.dark input,
body.dark select {
  background: #374151;
  color: var(--dark-mode-text);
}
.login-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
/* Common Button */
.common-button {
  font-size: 0.9rem;
  background: var(--darkPink);
  padding: 0.2rem 1.5rem;
  color: var(--white);
  border: 2px solid var(--darkPink);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.common-button:hover {
  background: var(--white);
  color: var(--darkPink);
}
